<div class="container">
  <div class="row pageHeader">
    <b>{{ tagline }}<b/>
  </div>
  </br>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-4">Expense Amount</label>
        <div class="col-md-6">
          <input class="form-control" ng-model="newexpense.ExpenseAmount" type="number"></input>
        </div>
      </div>
      <div class="form-group row">
    <label class="col-md-4">Expense Type</label>
    <div class="col-md-6">
      <select class="form-control" ng-model="newexpense.ExpenseType"
          ng-options="option.Desc for option in expenseType track by option._id"></select>
          <!-- {{newPateint.Occupation}} -->
    </div>
  </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row text-center">
    <input type="button" ng-click="submitExpenses()" class="btn btn-success" value="Save"/>
  </div>
  <!-- Table for data -->
  <div class="form-group row tableSection">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center success">Amount Spent</th>
          <th class="text-center success">Created Date</th>
          <th class="text-center success"></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="x in expenses">
          <td class="" ng-model="x.FirstName">{{x.expenseAmount}}</td>
          <td class="" ng-model="x.Mobile">{{x.created_at}}</td>
          <td class="text-center"><input type="button" ng-click="deleteExpense(x._id)" class="btn btn-danger btn-sm" value="Delete"/></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
